<%- include("header"); -%>    
<div class="tables">
<div class="tablea">
<table>
<% for(var i=0 ;i<9;i++){ %>
    <tr>    
      <% for(var j=0 ;j<9;j++){ %>
                   
                  <% if(array[i][j] !== 0){ %>
                    <td tabindex="0" class="<%=i+"x" %> cell <%=j+"y" %> fixed" >
                       <%= array[i][j] %>
                    </td>
                  <%}else{%>
                    <td  tabindex="0"  class="<%=i+"x" %> cell <%=j+"y" %> unfixed" >
                    </td>

             <%}%>
         <% }%>
    </tr>
    <% }%>
</table>
</div>


<div class="tableb">
<% for(var x=1 ;x<=9;x++){ %>
      <div  tabindex="0" class="mobg">
      <%= x %>
    </div>
<%}%>
</div>
</div>
<%- include("footer"); -%>